/* Layout for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white; /* AgileLinks Green */
  color: white;
  position: fixed; /* Make the header fixed */
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow to make it stand out */
}

.logoImage {
  height: 40px; /* Logo size */
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navList {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navList li a {
  font-size: 1.1rem;
  color: #34D399;
  text-decoration: none;
  font-weight: 500;
}

.navList li a:hover {
  background-color: #34D399;
  color: white;
  border-radius: 5px;
}

.cta {
  display: flex;
  align-items: center;
}

.languageSelector {
  margin-right: 20px;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.socialIcons a img {
  width: 25px;
  margin: 0 10px;
}

.searchMenu {
  display: flex;
  align-items: center;
}

.searchIcon,
.menuIcon {
  margin-left: 20px;
  cursor: pointer;
}

.searchIcon img,
.menuIcon img {
  width: 20px;
}

/* Book Button Styling */
.bookButton {
  padding: 10px 20px;
  background-color: #34D399; /* Dark Green for CTA Button */
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}

.bookButton:hover {
  background-color: #28A745; /* Darker green on hover */
}
/* New Button Styles */
.button {
  background-color: #34D399; /* Green */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 0 5px;
  display: inline-block;
}

.button:hover {
  background-color: #28A745; /* Darken on hover */
}

.loginButton {
  background-color: transparent;
  color: #34D399; /* Green */
  border: 2px solid #34D399; /* Green border */
}

.loginButton:hover {
  background-color: #e6e6e6;
}

.signupButton {}

.signupButton:hover {}

/* Mobile Optimization */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav {
    display: none; /* Hide navigation on mobile */
  }

  .cta {
    margin-top: 10px;
  }

  .logoImage {
    height: 30px; /* Adjust logo size on mobile */
  }

  .languageSelector {
    font-size: 0.9rem;
  }

  .searchIcon,
  .menuIcon {
    margin-left: 10px;
  }
}
