/* Header Section */
.header-custom {
  background-color: #34D399; /* Vibrant Green */
  color: white;
  text-align: center;
  padding: 1.5rem;
}

.title-green {
  color: #2D2D2D; /* Dark Charcoal for better readability */
  text-align: center;
  padding: 0.5rem 0;
}

.Enneagram-logo {
  max-width: 100%;
  height: auto;
  margin: auto;
}

/* Info, Chat, Result Sections */
.Info-section, .Result-section {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #F7D36B; /* Pastel Yellow */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.Chat-section {
  padding: 1rem;
  /* Removed background color to be neutral */
}

/* Button Styles */
.Book-appointment-button {
  background-color: #34D399; /* Vibrant Green */
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.Book-appointment-button:hover {
  background-color: #28A745; /* Slightly darker green for hover */
}

/* App Header */
.App-header {
  background-color: #34D399; /* Vibrant Green */
  color: white;
  padding: 20px;
  border-bottom: 4px solid #2D2D2D; /* Dark Charcoal */
}

/* Chat Box Styling */
.chat-container {
  height: 100%;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.chat-box {
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #888 #f9f9f9;
}

.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Button Styles */
.rating-button {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 0.8rem;
}

.send-button {
  background: #E91E63; /* Soft Coral for the send button */
  border: none;
  transition: background 0.3s ease;
}

.send-button:hover {
  background: #F7D36B; /* Pastel Yellow for hover */
}

.loading-bar {
  height: 4px;
  margin-top: 4px;
  background-color: #34D399; /* Vibrant Green for loading */
}

/* Chat input styling */
.inputContainer {
  border-radius: 10px;
  overflow: hidden;
}

.inputContainer input[type="text"] {
  padding: 10px;
  font-size: 1rem;
}

.inputContainer::-webkit-scrollbar {
  width: 8px;
}

/* Ensure there's space at the top when the header is fixed */
body {
  padding-top: 80px;  /* Adjust based on the height of the header */
}

.inputContainer::-webkit-scrollbar-thumb {
  background-color: #34D399; /* Green for scrollbar */
  border-radius: 10px;
}

.inputContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Call to Action Section */
.cta {
  background-color: #f0f8ff; /* Light background to attract attention */
  padding: 25px;
  text-align: center;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.cta a {
  font-size: 1.5rem;
  color: #34D399; /* Green for CTA button */
  text-decoration: none;
}

.cta a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #34D399; /* Darker green on hover */
}
